.mat-dialog-title{
    background-color: rgb(72, 75, 102);
    color: white;    
    padding: 1vw;
    font-size: calc(0.8em + 0.5vw);
    text-align: center;
}
.dialogContent{
    color: #8d1a11;
    font-weight: bolder;
    font-size: calc(0.7em + 0.5vw);
}
.colorBlack {
    color: black;
}

.DialogBtn {
    width:40% ;
    margin-left:30%;
    margin-right:30%;
    border-radius: 5px;
    background-color: rgb(91, 95, 129);
    color: white;
    font-size: calc(0.6em + 0.5vw);
}