.alertConatiner{
    margin: 0.5vw 2vw 4vw 2vw;
    padding: 2vw 3vw 3vw 3vw;
    background-color: white;
    border-radius: 15px;
}

table
{ 
    width: 100%;
    text-align: center; 
}
th.mat-header-cell { 
    background-color:white;
    color: black;
    border-bottom: 2px solid black;
    text-align: center !important;
    font-weight: bold;
    font-size: calc(0.7em + 0.5vw);
    
}
td {
    font-size: calc(0.5em + 0.5vw);
}
.mat-cell, .mat-header-cell {    
    font-size: calc(0.7em + 0.5vw);
    color: black;
    font-weight: bold;
}
.tableContainer{
    overflow-x: auto;
    overflow-y : auto;
    margin: 1vw 3vw 2vw 3vw;
    padding-bottom: 2vw;
}

tr:nth-of-type(odd) { 
    background: #dce4da; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    text-align: center; 
}
.isLoadingStyle ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;

}
.isLoadingStyle{
    background-color: white;
}
.noRecordError{
    background-color: white;
}
.alertStyle{
    margin-top: 3vw;
}
