table
{ 
    width: 100%;

    text-align: center; 
}
th.mat-header-cell { 
    background-color:white;
    color: black;
    border-bottom: 2px solid black;
    text-align: center !important;
    font-weight: bold;
    font-size: calc(0.7em + 0.5vw);
    
}
td {
    font-size: calc(0.5em + 0.5vw);
}
.mat-cell, .mat-header-cell {    
    font-size: calc(0.7em + 0.5vw);
    color: black;
    font-weight: bold;
}
.tableContainer{
    overflow-x: auto;
    overflow-y : auto;
    max-height: 400px !important;
}

tr:nth-of-type(odd) { 
    background: #dce4da; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    text-align: center; 
}
.isLoadingStyle ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
}

