<h1 class="mainTitle">
  <mat-icon inline="true">person_add</mat-icon>
  فرم ثبت نام
</h1>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="w70">
    <form class="my-form" [formGroup]="userForm"  (ngSubmit)="onSubmit()" novalidate>
      <mat-card-content>
          <mat-form-field class="positionRight FullWidth">
            <input matInput placeholder="نام" type="text" formControlName="firstname" required>
            <mat-error>
              {{errorName}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="positionRight FullWidth">
            <input matInput placeholder="نام خانوادگی" type="text" formControlName="lastname" required>
            <mat-error>
              {{errorLastName}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="positionRight FullWidth">
            <input matInput placeholder="نام کاربری" type="text" formControlName="username" required>
            <mat-error>
              {{errorUsername}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="positionRight FullWidth">
            <input matInput placeholder="رمز عبور" type="text" formControlName="password" required>
            <mat-error>
              {{errorPassword}}
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      <button mat-stroked-button class="mySubmitBtn" type="submit" [disabled]="!userForm.valid" 
      [ngStyle.lt-sm]="{'width':'95%','padding':'1%','margin':'1%'}">ثبت</button>
    </form>
  </mat-card>
</div>
