.positionRight{
    text-align: right;
}
.mySubmitBtn {
    width:40%;
    margin-left:30%;
    margin-right:30%;
    font-size: calc(0.4em + 1vw) !important;
}
.mat-card{
    
    min-height: 300px;
    box-shadow: inset;
    background: url(src/assets/image/login-bg.jpg);
  }
  .mat-card-title{
    background-color: rgb(2, 2, 65);
    color: white;
    text-align: center;
    font-size: calc(1em + 1vw) !important;
    line-height:  calc(1.5em + 1.5vw);
    padding-right: calc(0.5em + 0.5vw);
  }
  
.bg{
  padding: 4vw !important;
}
