<div class="ImageContainer">
    <div class="title" [ngStyle.sm]="{'width':'90%'}">
        <h1>خرید ارز دیجیتال، به صورت ساده، سریع، حرفه ای و امن</h1>
        <p>
            سایت صرافی ارز دیجیتال و کریپتوکارنسی (Cryptocurrency)   با امکان خرید و فروش رمز ارز هایی نظیر بیت کوین، اتریوم، دوج کوین، لایت کوین و ... به صورت سریع، حرفه ای و امن.
        </p>
    </div>
</div>

<div class="container" style="margin-top: -25vh;">
<!-- -------------------- crypto list --------------------------------------------------- -->
 <div class="box">
        <app-crypto-list></app-crypto-list>
  </div>

<!-- --------------------------- favorite crypto ----------------------------------------- -->
    <div class="Imp mat-elevation-z8">
        <h3 class="ImpTitle">
            رمزارزهای پرطرفدار
        </h3>
        <div class="ImpCrypto">
            <div class="section">
                <mat-expansion-panel hideToggle 
                #panel1 (mouseenter)="panel1.open()"
                (mouseleave)="panel1.close()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <img class="cIcon" [src] = "loadIcon('BTC' | uppercase)" alt="crypto icon" />
                    بیت کوین (BTC)
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p >بها : <span>{{43482.00 | currency}}</span></p>
                  </mat-expansion-panel>
            </div>
            <div class="section">
                <mat-expansion-panel hideToggle
                #panel2 (mouseenter)="panel2.open()"
                (mouseleave)="panel2.close()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <img class="cIcon" [src] = "loadIcon('ETH' | uppercase)" alt="crypto icon" />
                        اتریوم (ETH)
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>بها : <span>{{3095.62 | currency}}</span></p>
                </mat-expansion-panel>
            </div>
            <div class="section">
                <mat-expansion-panel hideToggle
                #panel3 (mouseenter)="panel3.open()"
                (mouseleave)="panel3.close()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <img class="cIcon" [src] = "loadIcon('XRP' | uppercase)" alt="crypto icon" />
                        ریپل (XRP) 
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>بها : <span>{{0.84 | currency}}</span></p>
                </mat-expansion-panel>
            </div>
            <div class="section">
                <mat-expansion-panel hideToggle
                #panel4 (mouseenter)="panel4.open()"
                (mouseleave)="panel4.close()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <img class="cIcon" [src] = "loadIcon('LTC' | uppercase)" alt="crypto icon" />
                        لایت کوین (LTC)
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>بها : <span>{{133.48 | currency}}</span></p>
                </mat-expansion-panel>
            </div>
            <div class="section">
                <mat-expansion-panel hideToggle
                #panel5 (mouseenter)="panel5.open()"
                (mouseleave)="panel5.close()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <img class="cIcon" [src] = "loadIcon('USDT' | uppercase)" alt="crypto icon" />
                        تتر (USDT) 
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>بها : <span>{{1.00 | currency}}</span></p>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>