/* ---------------------- title ----------------------------- */
.title{
  width: 45%;
  line-height: 0.9vw;
  padding: 3vw;
  position: relative;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}
.title h1 {
  padding-right: 3vw;
  font-size: calc(1em + 1vw);
}
.title p{
  padding-right: 3.5vw;
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1em + 1vw);
}

/* -------------------------- important crypto box --------------------------------- */
mat-panel-title{
  font-size: calc(0.6em + 0.5vw);  
}
mat-expansion-panel p {
  font-size: calc(0.7em + 0.5vw);
}
.Imp{
  padding:1vw;
  margin: 2vw 1vw;
  background-color: rgb(27, 40, 112);
  color: white;
}
.ImpTitle{
  text-align: right;
  font-size: calc(0.6em + 0.9vw);
  padding:0.5vw;
}
.ImpCrypto{
  background-color: rgb(27, 40, 112);
  color: white;
  margin-right: 2px;
  margin-left: 2px !important;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 3px;
  height: 10vh;
  display: table;
  table-layout: fixed;
  width: 99%;
}

.section {
  text-align: center;
  display: table-cell;
  margin: 1vw !important;
}

@media (max-width: 960px) { 
  .section {
    display: block;
  }
}
/* ---------------------- crypto Icon ----------------------------- */
.cIcon{
  width: calc(1em + 1vw) !important;
  height: calc(1em + 1vw) !important;
  padding: 5px;
  display:inline-block;
  vertical-align:middle;
}
/* ---------------------------------------------------------------------- */

.ImageContainer {
  margin-top: 4vh;
  margin-bottom: 5vh;
  position: absolute; 
  height: auto;
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.ImageContainer::before {    
    content: "";
    background-image: url("src/assets/image/digital-currency.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.box{
  margin-top:400px; 
  position:relative;
  padding-left: 2vw;
  padding-right: 2vw;
}