/* ---------------------- title ----------------------------- */
.ImageContainer {
  background-image: url("src/assets/image/digital-currency.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 96%;
  height: 60vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  padding: 2vw;
  margin-top: 1vw;
  text-align: center;
}

.title{
  width: 55%;
  line-height: 0.9vw;
  padding: 2vw;
  position: relative;
  color: white;
  text-align: justify;
  /* text-justify: inter-word; */
}
.title h1 {
  padding-top: 10px;
  padding-right: 2vw;
  font-size: calc(0.8em + 0.8vw);
}
.title p{
  padding-right: 2.5vw;
  font-size: calc(0.5em + 0.6vw);
  line-height: calc(1em + 1vw);
}
/* ---------------------------------------------------------------------- */
.container {
  position: relative; 
  margin-bottom: 5vw;  
}
.box{
  margin-left: 1vw;
  margin-right: 1vw;
}
/* -------------------------- important crypto box --------------------------------- */
mat-panel-title{
  font-size: calc(0.6em + 0.5vw);  
}
mat-expansion-panel p {
  font-size: calc(0.7em + 0.5vw);
}
.Imp{
  padding:1vw;
  margin: 2vw 1vw;
  background-color: rgb(27, 40, 112);
  color: white;
}
.ImpTitle{
  text-align: right;
  font-size: calc(0.6em + 0.9vw);
  padding:0.5vw;
}
.ImpCrypto{
  background-color: rgb(27, 40, 112);
  color: white;
  margin-right: 2px;
  margin-left: 2px !important;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 3px;
  height: 10vh;
  display: table;
  table-layout: fixed;
  width: 99%;
}

.section {
  text-align: center;
  display: table-cell;
  margin: 1vw !important;
}

@media (max-width: 960px) { 
  .section {
    display: block;
  }
}
/* ---------------------- crypto Icon ----------------------------- */
.cIcon{
  width: calc(1em + 1vw) !important;
  height: calc(1em + 1vw) !important;
  padding: 5px;
  display:inline-block;
  vertical-align:middle;
}

