.mainContent{
    padding: 20px;
    margin: 20px;
}
span {
    font-weight: bolder;
    color: black;
}
.price{ 
    color: #251379;
    font-weight: bolder;
}
mat-card-header{
    padding: 1vw;
    margin: 1vw;
    color: black;
    float: right;
    width: 97.5%;
    height: auto;
    background-image: linear-gradient(to left,white 1% ,#2b3e68 50%);
}
mat-card-title{
    font-size: calc(0.6em + 1vw) !important;
    line-height: calc(0.8em + 0.5vw) !important;
}

.myPadding {
  padding-top: 17px !important;
}
.matcartMargin{
    margin-top: calc(1em + 1vw);
}
.positionRight{
    text-align: right;
}
.mySubmitBtn {
  width:40%;
  height: auto;
  margin-left:30%;
  margin-right:30%;
  font-size: calc(0.7em + 0.7vw) !important;
}
