<p class="price myPadding">قیمت (تومان) :
        <span>{{coinData.priceToman | number : '1.0-0'}}</span> 
</p>
<p class="price">تعداد رمز ارز برای فروش : 
    <span>{{totalUserCoin}}</span> 
</p>
<p class="price">محاسبه مبلغ دریافتی(تومان) از فروش : 
    <span>{{totalCoinPrice | number : '1.0-0'}}</span>
</p>
<form class="my-form" [formGroup]="SellForm"  (ngSubmit)="onSubmitSell()" novalidate>
    <mat-form-field class="positionRight w90">
        <input (keyup)="updateInputCoins($event)" matInput placeholder="تعداد رمز ارز برای فروش را در این قسمت وارد نمایید" type='number' formControlName="buyCrypto" required>
        <mat-error>
            شما فقط {{totalUserCoin}} رمزارز برای فروش دارید.
        </mat-error>
    </mat-form-field>

    <button mat-stroked-button class="mySubmitBtn" type="submit" [disabled]="!SellForm.valid"
    [ngStyle.lt-sm]="{'width':'95%','padding':'1%','margin':'1%'}">فروش</button>

</form>


