<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/home"><mat-icon>home</mat-icon>&nbsp;صفحه اصلی</a>
      <a mat-button routerLink="/transactions-list"><mat-icon>list</mat-icon>&nbsp;لیست معاملات</a>
      <a mat-button *ngIf="!userisLoggedIn" routerLink="/login"><mat-icon>account_box</mat-icon>&nbsp;ورود به حساب کاربری</a>
      <a mat-button *ngIf="userisLoggedIn" (click) = "logout()" href="/"><mat-icon>exit_to_app</mat-icon>&nbsp;خروج از حساب کاربری</a>
      <a mat-button *ngIf="!userisLoggedIn" routerLink="/register"><mat-icon>person_add</mat-icon>&nbsp;ثبت نام در سایت</a>
      <a mat-button *ngIf="userisLoggedIn" routerLink="/user-crypto-list"><mat-icon>person</mat-icon>&nbsp;کاربر : {{username}}</a>
    </div>
    <div dir="rtl" fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="MenuFont">
          <mat-icon>more_vert</mat-icon>
          منو
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/home" class="MenuFont">
            <mat-icon>home</mat-icon>
            صفحه اصلی
          </button>
          <button mat-menu-item routerLink="/transactions-list" class="MenuFont">
            <mat-icon>list</mat-icon>
            لیست معاملات
          </button>
          <button mat-menu-item *ngIf="!userisLoggedIn" routerLink="/login" class="MenuFont">
            <mat-icon>account_box</mat-icon>
            ورود به حساب
          </button>
          <button mat-menu-item *ngIf="userisLoggedIn" (click) = "logout()" routerLink="/home" class="MenuFont">
            <mat-icon>exit_to_app</mat-icon>
            خروج از حساب
          </button>
          <button mat-menu-item *ngIf="!userisLoggedIn" routerLink="/register" class="MenuFont">
            <mat-icon>person_add</mat-icon>
            ثبت نام
          </button>
          <button mat-menu-item  *ngIf="userisLoggedIn" routerLink="/user-crypto-list" class="MenuFont">
            <mat-icon>person</mat-icon>
            کاربر {{username}}
          </button>
        </mat-menu>
    </div>
   
  </mat-toolbar>

    <div class="mainDiv">
      <router-outlet></router-outlet>
    </div>
</div>

