/* ---------------- toolbar css------------------------ */
.flexExpand {
  flex: 1 1 auto;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
mat-toolbar{
  background-color: rgb(2, 2, 65);
  color: white;
}

/* ------------------- menu------------------------------ */
.MenuFont{
  font-size: calc(0.7em + 0.5vw) !important;
}
/* -------------------------- footer --------------------------------- */
.main-footer{
  font-size: calc(1em +1vw) !important;
  color: white;  
  height: auto;
  background-color: rgb(2, 2, 65);
  margin-right: 2px;
  margin-left: 2px !important;
  padding: 3px;

  display: table;
  table-layout: fixed; /*euqal column width*/
  width: 99%;
}

.section {
  text-align: center;
  display: table-cell;
  padding: 2vw;
}
.section h2{
  font-size: calc(0.5em + 1vw) !important;
  font-weight: bolder;
  color: white;
}
.section p{
  font-size: calc(0.5em + 0.7vw) !important;
  font-weight: bolder;
}
.section a{
  font-size: calc(0.5em + 0.6vw) !important;
  line-height: calc(1em + 1vw);
}

@media (max-width: 960px) { 
  .section {
    display: block;
  }
}
/* ---------------------- crypto Icon (footer) ----------------------------- */
.BTCIcon{
  width: calc(2em +2vw);
  height: calc(2em + 2vw);
  padding: 1vw;
  display:inline-block;
  vertical-align:middle;
}
/* -------------------------------------------------------------------- */
.LoadingStyle ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}
/* -------------------------------------------------------------------- */
mat-expansion-panel{
  background-color: rgb(2, 2, 65);
  color: white;  
}

