.main{
  padding: 2% !important;
}
.sellMargin{
    margin-top:calc(2em + 1.5vw) ;
}
 /* --------------------------- search ------------------------------- */
 .center{
  display: flex;
  justify-content: center;
 }
 .searchContainer {
  width: 85%;
  background-color: rgb(2, 2, 65);
  color: white;
  display: flex;
  position: relative;
  margin-top: 2vh; 
  margin-bottom: 1vh;  
  text-align: center;
  border-radius: 15px;
}
.child{
  flex: 1;
}
.child p {
  text-align: center;
  line-height: 15vh;
  font-size: calc(0.5em + 0.5vw);
  padding: auto;
}
 .responsiveText{
  font-weight: bold;
  font-size: calc(0.7em + 0.5vw);
}
.FullWidthSearchBox{
  width: 95%;
  text-align: right;
  color: white;
}
 .searchStyle{
  text-align: right;
  width: 95%;
  color: white;
  /* background-color: white; */
  height: auto;
  padding: 1vw;
  border-radius: 15px;
 }

 .searchStyle ::ng-deep .mat-focused{
  /*change color of label*/
  color: white !important;
 }

.searchStyle ::ng-deep .mat-form-field-label {
/*change color of label*/
color: white !important;
}

.searchStyle ::ng-deep .mat-form-field-underline {
/*change color of underline*/
background-color: white !important;
} 

.searchStyle ::ng-deep .mat-form-field-ripple {
/*change color of underline when focused*/
background-color: white !important;
}

input::placeholder {
  color: white;
}
/* ---------------------- table ------------------------------------------ */
table
{ 
  padding: 3px;
  width: 100%; 
  text-align: center; 
  /* background-color:rgb(246, 248, 253); */
}
th.mat-header-cell { 
   text-align: center !important;
   background-color:white;
   /* background-color: rgb(246, 248, 253); */
   color: black;
   border-bottom: 2px solid black;
   font-weight: bold;
   font-size: calc(0.7em + 0.5vw);
}
td {
    font-size: calc(0.7em + 0.5vw);
}
.mat-cell, .mat-header-cell {    
    font-size: calc(0.7em + 0.5vw);
}

.table-container {
  width: 100%;
  max-height: 500px !important;
  overflow-x: auto;
  overflow-y : auto;
  border-top-left-radius: 15px;
}

tr:nth-of-type(odd) { 
    background: #dce4da; 
  }
td, th { 
    padding: 6px; 
    text-align: center; 
}
/* ---------------------------------------------------------------------------- */
.isLoadingStyle ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
}
/* ---------------------------------------------------------------------- */

