.list-header{
    margin-top:calc(0.1em + 1vw) ;
    font-size: calc(0.8em + 1vw) !important;
    line-height: calc(1em + 1.5vw) !important;
    padding: 1.5vw; 
    float: right;
    width: 97.5%;
    height: auto;
    background-image: linear-gradient(to left,white 1% ,#2b3e68 50%);
}
.sellMargin{
    margin-top:calc(2em + 1.5vw) ;
}
 /* --------------------------- search ------------------------------- */
 .searchBox{
  text-align: right;
  width: 50%;
 }
 .FullWidthSearchBox{
   width: 100%;
 }
 .responsiveText{
    font-weight: bold;
    font-size: calc(0.7em + 0.5vw);
 }
 .filterStyle{
    background-color: rgb(246, 248, 253);
    padding-right: 3% !important;
    
}
 /* --------------------------------------------------------------- */
 .mainContainer{
   padding-top: 2%;
 }
/* ---------------------- table ------------------------------------------ */
table
{ 
  padding: 3px;
  width: 100%; 
  text-align: center; 
}
th.mat-header-cell { 
   text-align: center !important;
   background-color:white;
   color: black;
   border-bottom: 2px solid black;
   font-weight: bold;
   font-size: calc(0.7em + 0.5vw);
}
td {
    font-size: calc(0.7em + 0.5vw);
}
.mat-cell, .mat-header-cell {    
    font-size: calc(0.7em + 0.5vw);
}

.table-container {
  width: 100%;
  max-height: 250px !important;
  overflow-x: auto;
  overflow-y : auto;
}

tr:nth-of-type(odd) { 
    background: #dce4da; 
  }
td, th { 
    padding: 6px; 
    text-align: center; 
}
/* ---------------------------------------------------------------------------- */
.isLoadingStyle ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
}

