<div class="mainDiv mat-elevation-z8">
    <h1 class="mainTitle">لیست معاملات </h1>
        <div class="filterStyle">
        <mat-form-field color="primary" appearance="standard" class="searchBox" [ngStyle.lt-sm]="{'width':'100%'}" >
            <mat-label class="responsiveText">
                <mat-icon inline="true" >filter_list</mat-icon>
                &nbsp;
                نماد رمز ارز مورد نظر خود را در این فیلد جستجو نمایید
            </mat-label>
            <input class="responsiveText" (keyup)="applyFilter($event)" matInput placeholder="جستجو" #input>
        </mat-form-field>
    </div>
    <div class="mainContainer">
        
        <h3 class="list-header" >لیست معاملات خرید رمز ارز</h3>
            <div>
                <div class="table-container" [hidden]="!isBuyTableHasData">
                    <table mat-table [dataSource]="dataSourceBuy" >
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> نماد </th>
                            <td mat-cell *matCellDef="let item">
                                <img class="cryptoIcon" [src] = "loadIcon(item.symbol | uppercase)" alt="crypto icon" /> 
                                {{item.symbol}} 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="getCoin">
                            <th mat-header-cell *matHeaderCellDef>مقدار</th>
                            <td mat-cell *matCellDef="let item"> {{item.getCoin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="priceToman">
                            <th mat-header-cell *matHeaderCellDef>قیمت (T)</th>
                            <td mat-cell *matCellDef="let item"> {{item.priceToman | number : '1.0-0'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalPrice">
                            <th mat-header-cell *matHeaderCellDef>مبلغ پرداختی</th>
                            <td mat-cell *matCellDef="let item"> {{item.totalPrice | number : '1.0-0'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef>تاریخ</th>
                            <td mat-cell *matCellDef="let item"> {{item.Date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef>ساعت</th>
                            <td mat-cell *matCellDef="let item"> {{item.time}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsBuy sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsBuy;"></tr>
                    </table> 
                </div>
                <div *ngIf="isLoadingBuy" class="isLoadingStyle">
                    <mat-progress-spinner mode="indeterminate" [diameter]="60"></mat-progress-spinner>
                </div>
                <div class="noRecordError" *ngIf="!isBuyTableHasData">
                    <p class="alertStyle">
                        <mat-icon inline="true">error</mat-icon>
                        عبارت جستجو شده در لیست معاملات خرید رمزارز یافت نشد.
                    </p>
                </div>
                <div *ngIf="dataSourceBuy === undefined " class="noRecordError">
                    <p class="alertStyle">
                        <mat-icon inline="true">warning</mat-icon>
                        داده ای پیدا نشد. لطفا فیلتر شکن خود را روشن نمایید تا لیست معاملات برای شما نمایش داده شود.
                    </p>
                </div>
        </div>
    </div>
    <div class="mainContainer sellMargin">
        <h3 class="list-header">لیست معاملات فروش رمزارز</h3>
        <div>
            <div class="table-container" [hidden]="!isSellTableHasData">
                <table mat-table [dataSource]="dataSourceSell" class="mat-elevation-z8">
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> نماد </th>
                        <td mat-cell *matCellDef="let item">
                            <img class="cryptoIcon" [src] = "loadIcon(item.symbol | uppercase)" alt="crypto icon" />
                             {{item.symbol}} 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sellCoinAmount">
                        <th mat-header-cell *matHeaderCellDef>مقدار</th>
                        <td mat-cell *matCellDef="let item"> {{item.sellCoinAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="priceToman">
                        <th  mat-header-cell *matHeaderCellDef>قیمت (T)</th>
                        <td  mat-cell *matCellDef="let item"> {{item.priceToman | number : '1.0-0'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalPrice">
                        <th mat-header-cell *matHeaderCellDef>مبلغ دریافتی</th>
                        <td mat-cell *matCellDef="let item"> {{item.totalPrice | number : '1.0-0'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date">
                        <th  mat-header-cell *matHeaderCellDef>تاریخ</th>
                        <td  mat-cell *matCellDef="let item"> {{item.Date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                        <th  mat-header-cell *matHeaderCellDef>ساعت</th>
                        <td  mat-cell *matCellDef="let item"> {{item.time}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSell sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSell;"></tr>
                    
                </table>
            </div>
            <div *ngIf="isLoadingSell" class="isLoadingStyle">
                <mat-progress-spinner mode="indeterminate" [diameter]="60"></mat-progress-spinner>
            </div>
            <div class="noRecordError" *ngIf="!isSellTableHasData">
                <p class="alertStyle">
                    <mat-icon inline="true">error</mat-icon>
                    عبارت جستجو شده در لیست معاملات فروش رمزارز یافت نشد.
                </p>
            </div>

            <div *ngIf="dataSourceSell === undefined " class="noRecordError">
                <p class="alertStyle">
                    <mat-icon inline="true">warning</mat-icon>
                    داده ای پیدا نشد. لطفا فیلتر شکن خود را روشن نمایید تا لیست معاملات برای شما نمایش داده شود.
                </p>
            </div>

        </div>
    </div>

</div>

