@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Yekan';
    src: url('assets/font/yekan/Yekan.eot');
    src: local('BYekan'), url('assets/font/yekan/Yekan.woff') format('woff'), url('assets/font/yekan/Yekan.ttf') format('truetype'), url('assets/font/yekan/Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    direction: rtl; 
    font-family: 'Yekan'!important;
}
html, body { 
    height: 100%;
 }
body { 
    margin-bottom: 5% !important;
    min-height: 100vh;
    background-color: #d5e9d0;
    /* background: url(assets/image/crypto-bg.jpg); */
    /* background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll; */
}
.material-icons{
  font-family: 'Material Icons' !important;
}

.mainTitle{
  font-size: calc(1em + 1vw) !important;
  line-height: calc(1em + 0.5vw) !important;
  padding: 1vw; 
  margin: 1vw;
  background-color: #08583b;
  border: 9px double white; 
  color: white; 
  border-radius: 10px;
  text-align: center;
}
.positionRight{
  text-align: right;
}
.FullWidth{
  width: 100%;
}
.w70{
  width: 70%;
}
.w80{
  width: 80%;
}
.w90{
  width: 90%;
  padding: 3% !important;
}
.mySubmitBtn{
  background-color: #08583b;
  color: white;
}
.mySubmitBtn:disabled,
.mySubmitBtn[disabled]{
background-color: #18a370;
color: white !important;
}

.noRecordError{
  font-size: calc(0.5em + 0.5vw);
  padding: 5px;
  background-color: white;

}

.isLoadingStyle{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: white;
  margin: 5px !important;
}

.cryptoIcon{
  width: calc(1.1em + 0.5vw);
  height: calc(1.1em + 0.5vw);
  padding: 1vw;
  display:inline-block;
  vertical-align:middle;
}

.mat-icon{
  display:inline-block;
  vertical-align:middle;
}
.mat-card-content{
  font-size: calc(0.6em + 0.5vw) !important;
}
.alertStyle{
  background-color: #d5e9d0;
  line-height: calc(1em + 1.5vw) !important;
  padding: 10px;
  border-radius: 10px;
  border:2px solid rgb(88, 88, 88);
  font-weight: bold;
  font-size: calc(0.7em + 0.5vw);
}
