@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Yekan';
    src: url('assets/font/yekan/Yekan.eot');
    src: local('BYekan'), url('assets/font/yekan/Yekan.woff') format('woff'), url('assets/font/yekan/Yekan.ttf') format('truetype'), url('assets/font/yekan/Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    direction: rtl; 
    font-family: 'Yekan'!important;
}
html, body { 
    height: 100%;
 }
body { 
    margin-bottom: 5% !important;
    min-height: 100vh;
    background-color: #d8d8db;

}
.material-icons{
  font-family: 'Material Icons' !important;
}

.mainTitle{
    border-bottom: 6px solid #950740;
}
.positionRight{
  text-align: right;
}
.FullWidth{
  width: 100%;
}
.w70{
  width: 70%;
}
.w80{
  width: 80%;
}
.w90{
  width: 90%;
  padding: 3% !important;
}
.mySubmitBtn{
  background-color: #950740;
  color: white;
}
.mySubmitBtn:disabled,
.mySubmitBtn[disabled]{
border: 2px solid #8a8585;
background-color: #f0d4d4;
color: white !important;
}

/* .box {
  position: relative;
  top: 0;
  opacity: 1;
  float: right;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  max-width: 400px;
  margin: 3%;
} */

