<div class="bg">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="w50 mat-elevation-z8" [ngStyle.lt-sm]="{'width':'90%'}">
      <mat-card-title>
        <mat-icon [inline]="true">group</mat-icon>
        فرم ورود</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
          <mat-card-content>
            <mat-form-field class="positionRight myForm">
              <input matInput placeholder="نام کاربری" style="float: right;" formControlName="username" required>
            </mat-form-field>
            <br>
            <mat-form-field class="positionRight myForm">
              <input matInput placeholder="رمز عبور" type="password" formControlName="password" required>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button class="mySubmitBtn" type="submit" [disabled]="!loginForm.valid"
          [ngStyle.lt-sm]="{'width':'95%','padding':'1%','margin':'1%'}">ورود</button>
        </form>
    </mat-card>
  </div>
</div>
