.positionRight{
    text-align: right;
}
.mySubmitBtn {
    width:40%;
    margin-left:30%;
    margin-right:30%;
    font-size: calc(0.5em + 1vw) !important;
    background-color: rgb(120, 120, 160);
}
.mySubmitBtn:disabled,
.mySubmitBtn[disabled]{
background-color: rgb(165, 165, 190);
}
.mat-card{
    min-height: 300px;
    background-color: rgb(2, 2, 65);
    color: white;
  }
  .mat-card-title{
    color: white;
    text-align: right;
    font-size: calc(1em + 1vw) !important;
    line-height:  calc(1.5em + 1.5vw);
    padding-right: calc(0.5em + 0.5vw);
  }

  .bg{
    padding: 4vw !important;
  }
  /* ------------------------------------------------------------------------ */
  .mylogin ::ng-deep .mat-focused{
    /*change color of label*/
    color: white !important;
   }
  .mylogin ::ng-deep .mat-form-field-label {
    /*change color of input text*/
    color: white !important;
  }
   .mylogin ::ng-deep .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  .mylogin ::ng-deep .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }
/* --------------------------------------------------------------------- */
